target/
.git/
.gitignore
.github/
models/
data/
python/
fuzz/
benchmarks/
benches/*
!benches/der_ami.rs
examples/*
tests/data/voxconverse-test/
tests/data/ami-test-single/
*.md
!README.md
!LICENSE
!NOTICE
!CHANGELOG.md
